

* {
  margin: 0;
}

body {
  background: #f5f6fa;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  column-gap: 20px;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.color-red {
  color: #ff0000;
}

/* Responsive CSS */
@media (max-width: 1200px) {
  .container {
    display: block;
  }
  .app__left {
    margin-bottom: 50px;
    order: 2;
  }
  .app_right {
    order: 1;
  }
}
@media (max-width: 998px) {
 .App {
  flex-direction: column;
 }
}

@media (max-width: 767px) {
  .app__stats{
    display: block;
  }
}
@media (max-width: 575px) {
  .app__header {
    display: block;
    text-align: center;
  }
  .logo {
    margin-bottom: 20px;
  }
  .app__dropdown {
    width: 100%;
  }
  .app__left {
    margin-bottom: 20px;
  }
}